@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');

:root {
    --white: #ffffff;
    --green: #27694d;
    --yellow: #daa520;
    --red: #ef4444;
    --brown: #383129;
    --black: #2a2622;

    --title: #2b2622;
    --text: #7c736a;
    --border: #E7E2DA;

    --background: #f7f4ef;
    --card: #fcfaf7;
    --secondary: #eeebe4;
    --shadow: #c4b8a8;
    --favorite: #eaf0ed;
    --placeholder: rgb(208, 211, 201);

    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Source Sans', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
}

header {
    display: flex;
    gap: 10px;
    padding: 15px;
    border-bottom: 1px solid var(--border);
    padding-left: 110px;
}

header h4 {
    font-family: var(--font-primary);
    font-size: large;
    color: var(--title);
    margin: 0px;
}

header p {
    font-family: var(--font-secondary);
    font-size: x-small;
    color: var(--text);
    margin: 0px;
}

header img {
    background-color: var(--green);
    padding: 6px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

header div {
    display: flex;
    flex-direction: column;
}

.title-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-subtitle h1 {
    font-family: var(--font-primary);
    color: var(--title);
    margin-bottom: 0px;
}

.title-subtitle p {
    font-family: var(--font-secondary);
    color: var(--text);
    font-size: small;
}

search {
    display: flex;
    gap: 5px;
    position: relative;
}

search input {
    padding: 10px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid var(--border);
    font: var(--font-secondary);
    font-size: small;
    padding-left: 35px;
}

input[type="search"]:focus {
  border-color: var(--brown);
  outline: none; 
  box-shadow: 0 0 5px var(--green); 
}

search button {
    background-color: var(--green);
    border: none;
    color: var(--white);
    font: var(--font-secondary) thin;
    font-size: small;
    padding: 11px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

search button:hover {
    background-color: var(--brown);
}

search img {
    position: absolute;
    padding: 11px;
    width: 15px;
}

.books-div {
    margin-top: 50px;
    /* margin-left: 40px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    /* min-width: 800px; */
}

.book-entry {
    height: 360px;
    background-color: var(--card);
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--shadow);
    position: relative;
    overflow: hidden;
}

.book-entry::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: linear-gradient(to bottom, transparent, var(--card));
}

.book-cover {
    height: 270px;
    width: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: center top;
}

.book-cover-placeholder {
    height: 270px;
    background-color: var(--placeholder);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    color: var(--card);
}

.book-info {
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    padding: 10px;
    gap: 3px;
}

.book-title {
    font-weight: 600;
    font-size: small;
}

.book-author {
    color: var(--text);
    font-size: x-small;
}

.book-year {
    color: var(--text);
    font-size: x-small;
    margin-top: 0px;
    opacity: 0.7;
}

.books-favorites {
    display: flex;
    max-width: 1400px;
    justify-self: center;
    gap: 30px;
}

.favorites-div {
    height: fit-content;
    background-color: var(--card);
    width: 250px;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid var(--border);
    padding-bottom: 20px;
}

.favorites-div h4 {
    font-family: var(--font-primary);
    color: var(--title);
    margin: 0px;
}

.favorites-div p {
    margin-top: 5px;
    font-family: var(--font-secondary);
    font-size: x-small;
    color: var(--text);
}

.favs-title {
    display: flex;
    flex-direction: column;
}

.icon-title {
    display: flex;
    padding: 20px;
    padding-bottom: 0px;
    gap: 10px;
}

.favorites-icon {
    width: 20px;
    background-color: var(--favorite);
    height: 20px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 7px;
}

.fav-icon {
    position: absolute;
    top: 12px;
    left: 140px;
    background-color: var(--card);
    padding: 7px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.7;
}

.fav-entry {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 10px;
    padding-top: 0px;
    position: relative;
    width: inherit;
    overflow: hidden;
}

.fav-entry::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: linear-gradient(to bottom, transparent, var(--card));
}

.fav-entry hr {
    background-color: var(--border);
    height: 0.5px;
    width: 90%;
    border: none;
}

.fav-cover-placeholder {
    width: 65px;
    height: 100px;
    background-color: var(--placeholder);
    border-radius: 5px;
}

.no-hr {
    display: flex;
}

.fav-cover-placeholder p {
    font-family: var(--font-primary);
    font-size: x-small;
    text-align: center;
    color: var(--card);
    margin-top: 50%;
}

.fav-cover {
    width: 65px;
    height: 100px;
    object-fit: cover;
    object-position: center top;
}

.fav-title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: small;
}

.fav-author {
    font-family: var(--font-secondary);
    color: var(--text);
    font-size: x-small;
}

.fav-year {
    font-family: var(--font-secondary);
    color: var(--text);
    font-size: x-small;
    opacity: 0.8;
}

.fav-info {
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    max-width: 120px;
}

.favs-list {
    display: flex;
    flex-direction: column;
}

.icon-fix {
    position: absolute;
    background-color: var(--card);
    padding: 7px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.7;
    top: 50px;
    left: 200px;
    overflow: visible;
    width: 15px;
}

footer {
    border-top: 1px solid var(--border);
    text-align: center;
    height: 80px;
    padding-top: 20px;
    margin-top: auto;
}

footer span {
    font-family: var(--font-secondary);
    font-size: x-small;
    color: var(--text);
    margin-top: 10px;
}

footer span a {
    color: var(--green);
    text-decoration: none;
}

.empty {
    color: var(--green);
    font-family: var(--font-secondary);
    font-style: italic;
    font-size: small;
    width: 500px;
    margin-top: 50px;
    margin-left: 40px;
}

.search-empty {
    display: flex;
    flex-direction: column;
}

.empty-favs {
    font-family: var(--font-primary);
    font-size: x-small;
    padding: 20px;
    color: var(--brown);
}
