@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');
@import url('/src/css/books.css');
@import url('/src/css/favs.css');
@import url('/src/css/header.css');
@import url('/src/css/search.css');

:root {
    --white: #ffffff;
    --green: #27694d;
    --yellow: #daa520;
    --red: #ef4444;
    --brown: #383129;
    --black: #2a2622;

    --title: #2b2622;
    --text: #7c736a;
    --border: #E7E2DA;

    --background: #f7f4ef;
    --card: #fcfaf7;
    --secondary: #eeebe4;
    --shadow: #c4b8a8;
    --favorite: #eaf0ed;
    --placeholder: rgb(208, 211, 201);

    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Source Sans', sans-serif;
}

[data-mode="dark"] {
    --background: #181614;
    --card: #221f1b;
    --secondary: #2d2924;
    --border: #38322c;
    --shadow: rgba(0, 0, 0, 0.5);
    --placeholder: #575047;
    --title: #e7e2da;
    --text: #a89f95;
    --favorite: #1a3227;
    --brown: #a89f95;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

footer {
    border-top: 1px solid var(--border);
    text-align: center;
    height: 80px;
    padding-top: 20px;
    margin-top: auto;
}

footer span {
    font-family: var(--font-secondary);
    font-size: x-small;
    color: var(--text);
    margin-top: 10px;
}

footer span a {
    color: var(--green);
    text-decoration: none;
}

.loading {
    position: absolute;
    top: 300px;
    left: 600px;
    z-index: 9999;
}

.loading-animation {
    width: 300px;
}

.hidden {
    display: none;
}

.loading-cursor {
    cursor: wait;
}

@media screen and (max-width: 1250px) {

    .books-div {
        grid-template-columns: repeat(3, 1fr);
    }

    .loading {
        position: absolute;
        top: 300px;
        left: 350px;
        z-index: 9999;
    }

}

@media screen and (max-width: 767px) {

    .books-div {
        grid-template-columns: repeat(2, 1fr);
    }

    search input {
        width: 500px;
        font-size: medium;
        padding-left: 35px;
        height: 50px;
    }

    search button {
        font-size: medium;
        padding: 15px 20px;
    }

    search img {
        position: absolute;
        padding: 13px;
        width: 18px;
    }

    header h4 {
        font-size: xx-large;
    }

    header img {
        padding: 10px;
        width: 30px;
        height: 30px;
    }

    .mode-change {
        width: 35px;
        height: 35px;
    }

    .title-subtitle h1 {
        font-size: xx-large;
    }

    .favorites-div h4 {
        font-size: larger;
    }

    .fav-author,
    .fav-year,
    .favorites-div p,
    .book-year,
    .book-author {
        font-size: small;
    }


    footer span,
    .title-subtitle p,
    .book-title,
    .fav-title,
    header p {
        font-size: medium;
    }

    .loading {
        top: 400px;
        left: 100px;
    }

    .loading-animation {
        width: 200px;
    }


}

@media screen and (max-width: 480px) {

    search input {
        padding: 5px;
        width: 250px;
        font-size: medium;
        padding-left: 35px;
    }

    .mode-change {
        margin-right: 15px;
    }

    .logo {
        margin-left: 35px;
    }

    header h4 {
        font-size: large;
    }

    header p {
        font-size: small;
    }

    .book-entry {
        height: 160px;
        width: 90px;
    }

    .book-entry::after,
    .fav-entry::after {
        height: 10px;
    }

    .book-cover {
        height: 120px;
        width: 90px;
    }

    .book-cover-placeholder {
        height: 120px;
    }

    .book-info {
        padding: 2px;
    }

    .book-author,
    .book-year,
    .fav-author,
    .fav-year {
        font-size: xx-small;
    }

    .favorites-div {
        width: 150px;
    }

    .favorites-div h4 {
        font-size: small;
    }

    .favorites-div p,
    .fav-title,
    .book-title {
        font-size: x-small;
    }

    .fav-entry {
        height: 100px;
    }

    .fav-entry hr {
        background-color: var(--border);
        height: 0.5px;
        width: 90%;
        border: none;
    }

    .fav-cover-placeholder,
    .fav-cover {
        width: 60px;
        height: 90px;
    }

    .fav-info {
        display: flex;
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        max-width: 120px;
    }

    .icon-fix {
        top: 50px;
        left: 110px;
    }

    .fav-icon {
        top: 10px;
        left: 55px;
    }

    .title-subtitle h1 {
        font-size: larger;
    }

    .title-subtitle p {
        font-size: small;
        max-width: 300px;
        text-align: center;
    }

    .loading {
        position: absolute;
        top: 300px;
        left: 150px;
        z-index: 9999;
    }

    .loading-animation {
        width: 150px;
    }


}